server:
  port: 28800

spring:
  datasource:
    url: jdbc:mysql://10.10.0.90:3306/distributed_lock?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: Gjzwy@123.com#$
    driver-class-name: com.mysql.jdbc.Driver
#  redis:
    #----如果是集群模式，启动下面的配置
#    cluster:
#      nodes: 118.195.205.177:6379,118.195.205.208:6379,118.195.205.60:6379,118.195.191.205:6379,118.195.203.82:6379,118.195.205.15:6379

    #----如果是哨兵模式，启动下面的配置
#    sentinel:
#      #哨兵监听的master名称
#      master: master
#      #哨兵地址列表，多个以,分割
#      nodes: 118.195.203.99:26379,118.195.190.100:26379,118.195.190.150:26379
   #-----如果是单机模式，启动下面的配置
#    host: 10.10.1.97
#    port: 6379
#    password: qwerASD123!
#    database: 1
#    jedis:
#      pool:
#        max-active: 8
#        max-wait: -1
#        max-idle: 500
#        min-idle: 0
#      lettuce:
#        shutdown-timeout: 100


mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.hunter.business.domain

zookeeper:
  address: 118.195.207.161:2181,175.27.210.137:2181,118.195.205.187:2181
  timeout: 3000