<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hunter.lock.mysql.dao.LockMapper" >
  <resultMap id="BaseResultMap" type="com.hunter.lock.mysql.domain.Lock" >
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert">
    INSERT INTO `lock` SET id = #{id};
  </insert>
  <delete id="delete">
    DELETE FROM `lock` WHERE id = #{id};
  </delete>

</mapper>